<div class="container">
  <div class=" layout">
    <form class="action" [formGroup]="createCarForm" (ngSubmit)="createCar()">
      <h2>Thêm Mới Xe</h2>

      <div class="row">
        <div>
          <label>Hãng Xe <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="carCompany" placeholder="Nhập hãng xe">
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <label>Tên Xe <span style="color: red">(*)</span>:</label>
        <div class="input-group">
          <input type="text" formControlName="name" class="form-control"
                 placeholder="Nhập Tên xe"><span class="bar"></span>
        </div>
      </div>

      <div class="row mt-2">
        <label>Loại Xe <span style="color: red">(*)</span>:</label>
        <div>
          <select class="form-control" formControlName="carType">
            <option value="">-- Chọn loại xe --</option>
            <option *ngFor = "let carType of carTypeList" value="{{carType.id}}">{{carType.name}}</option>
          </select>
        </div>
      </div>

      <div class="row mt-2">
        <label>Biển Số Xe <span style="color: red">(*)</span>:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="carPlate" placeholder="Nhập biển số xe">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="button text-end col-6">
          <button class="btn button-cancel" (click)="closeDialog()">Hủy</button>
        </div>
        <div class=" col-6">
          <button type="submit" class="btn button-confirm">Lưu</button>
        </div>
      </div>

    </form>
  </div>

</div>
