<div id="container">
  <form [formGroup]="creatCustomerForm" (ngSubmit)="createCustomer()">
    <div class="layout">
      <h1>
        <strong>Thêm mới khách hàng</strong>
      </h1>
      <div class="row">
        <div class="col-6">
          <label for="name">Họ và tên (<span style="color: red">*</span>): </label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-user"></i></a>
            <input type="text" id="name" formControlName="name" name="name" class="form-control" required
                   placeholder="VD: Nguyễn Văn A"><span class="bar"></span>
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('name')?.errors?.required &&
                      creatCustomerForm.get('name').touched">
            Không được để trống!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('name')?.errors?.pattern &&
                      creatCustomerForm.get('name').touched">
            Vui lòng nhập đúng định dạng!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('name')?.errors?.minlength &&
                      creatCustomerForm.get('name').touched">
            Không được nhập ít hơn 5 ký tự!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('name')?.errors?.maxlength &&
                      creatCustomerForm.get('name').touched">
            Không được nhập nhiều hơn 40 ký tự!
          </div>
        </div>

        <div class="col-6">
          <label for="email">Email (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-envelope"></i></a>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="VD: codegym@gmail.com">
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('email')?.errors?.required &&
                      creatCustomerForm.get('email').touched">
            Không được để trống!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('email')?.errors?.email &&
                      creatCustomerForm.get('email').touched">
            Vui lòng nhập đúng định dạng. Vd: abc@gmail.com!
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <label>Giới tính (<span style="color: red">*</span>):</label>
          <div class="mt-2" >
            <label class="gender">
              <input type="radio" formControlName="gender" name="gender" [value]="true"  checked>
            </label> Nam <i class="fa-solid fa-mars"></i>
            <label class="gender">
              <input type="radio" formControlName="gender" name="gender" [value]="false" >
            </label> Nữ <i class="fa-solid fa-venus"></i>
            <label class="gender">
              <input type="radio" formControlName="gender" name="gender" [value]="null" >
            </label> Khác <i class="fa-solid fa-venus-mars"></i>
          </div>
        </div>

        <div class="col-6">
          <label for="birthday">Ngày sinh (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-cake-candles"></i></a>
            <input type="date" formControlName="birthday" class="form-control" id="birthday">
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('birthday')?.errors?.required &&
                      creatCustomerForm.get('birthday').touched">
            Không được để trống!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('birthday').hasError('ageUnder') &&
                      creatCustomerForm.get('birthday').touched">
            Bạn chưa đủ 18 tuổi!
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-6">

          <label for="phone">Số điện thoại (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-phone"></i></a>
            <input type="tel" class="form-control" formControlName="phone" id="phone" placeholder="VD: 0909123123">
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('phone')?.errors?.required&&
                      creatCustomerForm.get('phone').touched">
            Không được để trống!
          </div>
          <div class="alert alert-danger" role = "alert"
               *ngIf ="creatCustomerForm.get('phone')?.errors?.pattern &&
                      creatCustomerForm.get('phone').touched">
            Vui lòng nhập đúng định dạng.
            Bắt đầu là 0 và tiếp theo là đầu số |3|5|7|9. Ví dụ: 0905678123, 0352960280!
          </div>
        </div>

        <div class="col-6">

          <label for="idCard">CMND/CCCD (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-id-card"></i></a>
            <input type="text" id="idCard" formControlName="idCard" class="form-control" placeholder="VD: 23658412XXXX">
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('idCard')?.errors?.required&&
                      creatCustomerForm.get('idCard').touched">
            Không được để trống!
          </div>
          <div class="alert alert-danger" role = "alert"
               *ngIf ="creatCustomerForm.get('idCard')?.errors?.pattern &&
                      creatCustomerForm.get('idCard').touched">
            Vui lòng nhập đúng định dạng. CMND/Passport 9 số hoặc 12 số!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Thành Phố/Tỉnh (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select class="form-control"  required="" (change)="getDistrictById($event.target.value)">
              <option value="" selected>Chọn Tỉnh/Thành phố</option>
              <option  *ngFor="let province of provinces"
                       value="{{province.id}}">{{province.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label>Quận/Huyện (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select class="form-control"  required="" (change)="getWardById($event.target.value)">
              <option value="" selected>Chọn Quận/Huyện</option>
              <option  *ngFor="let district of districts"
                       value="{{district.id}}">{{district.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label >Phường/Xã (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select class="form-control" formControlName="ward" name="ward" formGroupName="ward" required="">
              <option value="" selected>Chọn Phường/Xã</option>
              <option  *ngFor="let ward of wardList" [ngValue]="ward.id"
                       >{{ward.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="address">Số nhà, tên đường (<span style="color: red">*</span>):</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-location-dot"></i></a>
            <input type="text" class="form-control" formControlName="address" id="address" placeholder="VD: 295 Nguyễn Tất Thành">
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('address')?.errors?.required &&
                      creatCustomerForm.get('address').touched">
            Không được để trống!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('address')?.errors?.minlength &&
                      creatCustomerForm.get('address').touched">
            Không được nhập ít hơn 5 ký tự!
          </div>
          <div style="color: red"
               *ngIf ="creatCustomerForm.get('address')?.errors?.maxlength &&
                      creatCustomerForm.get('address').touched">
            Không được nhập nhiều hơn 40 ký tự!
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <label class="title">Xe đã đăng ký:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group d-flex justify-content-end">
            <a class="btn btn-primary" (click)="openDialogAddCar()"><i title="Thêm Xe" class="fa-solid fa-circle-plus"></i></a>
          </div>

        </div>
      </div>
      <!--        table-->
      <!--        <div class="container">-->
      <div class="table-responsive">
        <div class="table-wrapper">
          <table class="table table-striped table-hover text-center " style="border: black 1px">
            <thead class="text-white tb-header">
            <tr>
              <th class="col-1">Mã xe</th>
              <th class="col-2">Tên xe</th>
              <th class="col-1">Hãng xe</th>
              <th class="col-2">Biển số xe</th>
              <th class="col-2">Loại xe</th>
              <th class="col-1">Chức năng</th>
            </tr>
            </thead>
            <tbody *ngIf="carList.length == 0" style="font-size: 16px;font-weight: bold">
            <tr>
              <td colspan="6">Chưa có dữ liệu!</td>
            </tr>
            </tbody>
            <tbody *ngIf="carList != null">
            <tr *ngFor="let car of carList">
              <td>{{car.code}}</td>
              <td>{{car.name}}</td>
              <td>{{car.carCompany}}</td>
              <td>{{car.carPlate}}</td>
              <td>{{car.carType.name}}</td>
              <td>

                <a  class="delete" (click)="openDialogDeleteCar()">
                  <i class="fa-solid fa-trash-can icon"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--            </div>-->
      </div>
      <!--        end table-->
      <div class="row">
        <div class="col-6 text-end">
          <button class="btn button-cancel" routerLink="/customer/list">Huỷ</button>

        </div>
        <div class="col-6">
          <button class="btn button-confirm" type="submit">Thêm mới</button>
        </div>
      </div>
    </div>
  </form>
</div>
