<body>
<div id="container">
  <form class="form">
    <div class="layout">
      <h1 class="title">
        <strong>Chỉnh sửa thông tin nhân viên</strong>
      </h1>
      <div class="row">
        <div class="col-6">
          <label for="name">Họ tên (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-user"></i></a>
            <input type="text" id="name" name="name" class="form-control" required
                   value="Nguyễn Văn A"><span class="bar"></span></div>
        </div>
        <div class="col-6">

          <label for="code">Mã nhân viên (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-id-card"></i></a>
            <input type="text" id="code" class="form-control" value="NV-0001" disabled style="cursor: not-allowed">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Giới tính (<span style="color: red">*</span>)</label>
          <label class="gender">
            <input type="radio" name="gender" value="gender" checked>
          </label> Nam <i class="fa-solid fa-mars"></i>
          <label class="gender">
            <input type="radio" name="gender" value="gender">
          </label> Nữ <i class="fa-solid fa-venus"></i>
          <label class="gender">
            <input type="radio" name="gender" value="gender">
          </label> Khác <i class="fa-solid fa-venus-mars"></i>
        </div>

      </div>

      <div class="row">
        <div class="col-4">
          <label for="birthday">Ngày sinh (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-cake-candles"></i></a>
            <input type="date" class="form-control" id="birthday" value="2000-01-01">
          </div>

        </div>
        <div class="col-4">

          <label for="phone">Số điện thoại (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-phone"></i></a>
            <input type="tel" class="form-control text-end" id="phone" value="0909123123">
          </div>
        </div>

        <div class="col-4">
          <label for="position">Chức vụ (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-user-tie"></i></a>
            <select id="position" class="form-select">
              <option>- Chọn -</option>
              <option>Bảo vệ</option>
              <option>Nhân viên</option>
              <option selected>Quản lý</option>
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-7">
          <label for="email">Email (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-envelope"></i></a>
            <input type="email" class="form-control" id="email" value="codegym@gmail.com">
          </div>
        </div>

        <div class="col-5">
          <label for="password">Mật khẩu (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-key"></i></a>
            <input type="password" class="form-control" id="password" value="nguyenvanA123">
            <a class="input-group-text" style="background-color: white"
               onmouseover="showPassword()" onmouseleave="hidePassword()">
              <i class="fa-solid fa-eye"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="province">Thành phố/Tỉnh (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select id="province" class="form-select">
              <option>- Chọn -</option>
              <option selected>Đà Nẵng</option>
              <option>Quảng Trị</option>
              <option>Quảng Bình</option>
              <option>Quảng Nam</option>
              <option>Thừa Thiên - Huế</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label for="district">Quận/Huyện (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select id="district" class="form-select">
              <option>- Chọn -</option>
              <option selected>Hải Châu</option>
              <option>Hoà Vang</option>
              <option>Thanh Khê</option>
              <option>Sơn Trà</option>
              <option>Ngũ Hành Sơn</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label for="ward">Phường/Xã (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select id="ward" class="form-select">
              <option>- Chọn -</option>
              <option>Thanh Bình</option>
              <option>Thuận Phước</option>
              <option>Thạch Thang</option>
              <option selected>Hải Châu I</option>
              <option>Hải Châu II</option>
              <option>Bình Hiên</option>
              <option>Hoà Thuận Đông</option>
              <option>Hoà Thuận Tây</option>
              <option>Hoà Cường Bắc</option>
              <option>Hoà Cường Nam</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="address">Số nhà, tên đường (<span style="color: red">*</span>)</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-location-dot"></i></a>
            <input type="text" class="form-control" id="address" value="295 Nguyễn Tất Thành">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <button class="btn button-cancel">Huỷ</button>
        </div>
        <div class="col-6">
          <button class="btn button-confirm" type="submit">Lưu</button>
        </div>
      </div>
    </div>
  </form>
</div>

</body>
