<div class="container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center" id="title" colspan="2">
        Xác nhận xóa
      </th>
    </tr>
    </thead>
    <tbody style="border: 2px">
    <tr>
      <td colspan="2">
        <span style="color: red">Bạn có muốn xóa nhân viên này không ?</span>
      </td>
    </tr>
    <tr>
      <td class="text-center">Mã Nhân Viên: <strong>{{employee.code}}</strong></td>
      <td class="text-center">Họ Tên: <strong>{{employee.name}}</strong></td>
    </tr>
    <tr>
      <td colspan="2"><span style="color: red;text-align: right">*Lưu ý: Thông tin không được hoàn tác</span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a class="btn btn-dark m-3" (click)="onNoClick()">Không</a>
        <a class="btn btn-danger" (click)="deleteEmployee()">Có</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
