<head>
  <meta charset="UTF-8">

  <title>Bản Đồ vị trí Bãi đổ xe</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="map-list-parking.component.css">
</head>
<body>
<h1 class="d-flex justify-content-center" style="color:#f5deb3;">Bản đồ vị trí Bãi đỗ xe&nbsp;
  <i class='fa fa-car' style='font-size:48px;color: red'></i>
</h1>
<div class="container" >
  <div style="font-weight: bold; color: white">
    Tổng vị trí: <span>{{totalLocation}}</span>
  </div>
  <div class="row mt-2">
    <div class="m-2" style="border:1px; background-color: #e70000; width: 140px; height: 30px; color: white">
      Đã có xe đỗ.
    </div>
    <div class="m-2" style="border:1px; background-color: #007800 ;width: 140px; height: 30px;color: white ">
      Còn trống.
    </div>
    <div class="col-3">
      <form [formGroup]="searchForm" class="d-flex justify-content-between">
        <input #keyword type="text" class="form-control" style="margin-right: 5px" placeholder="Nhập mã vị trí">
        <button class="btn btn-success " type="submit"
                (click)="searchLocationCode(keyword.value)">
          <i class="fas fa-search" aria-hidden="true" ></i></button>
      </form>
    </div>
  </div>


</div>

<br>
<div class="container opacity-75" style="background: #ffffff">
  <div class="row">
    <div class="col-1" *ngFor="let item of listLocation" (click)="openDialog(item, $event)">
      <div class="d-flex align-items-center m-1 ">
        <a style="text-decoration: none;">
        <span class="position-car full-border d-flex justify-content-center align-items-center btn btn-danger"
              [style.background]="item.isEmpty ? 'red':'green'">
         <span class="fa fa-car" style="font-size:24px"></span>
        </span>
          <span class="d-flex justify-content-center">{{item.code}}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="mx-3 col-3" style="color: #ffffff">
            Tầng <span class="font-monospace" style="color: #ffffff; font-weight: bold; font-size:22px">{{index + 1}}</span> trong tổng số <span
            class="font-monospace" style="color: #ffffff; font-weight: bold ; font-size:22px">{{totalPagination}}</span> tầng
          </div>
          <div class="col-6 pagination">
            <button [disabled]="index < 1" (click)="previousPage()"><span class="fa fa-angle-double-left"></span>
            </button>
            <button [disabled]="index < 1" (click)="back()"><span class="fa fa-angle-left"></span></button>
            <button [hidden]="index < 2" (click)="loadList(index-1)">
              {{index - 1}}
            </button>
            <button [hidden]="index == 0" (click)="loadList1(index-1)">
              {{index}}
            </button>
            <button class="active">
              {{index + 1}}
            </button>
            <button [hidden]="index >= totalPagination - 1" (click)="loadList2(index+1)">
              {{index + 2}}
            </button>
            <button [hidden]="index >= totalPagination - 2" (click)="movingNext()">{{index + 3}}</button>
            <button [disabled]="index == totalPagination - 1" (click)="next()"><span
              class="fa fa-angle-right"></span>
            </button>
            <button [disabled]="index == totalPagination - 1" (click)="lastPage()"><span
              class="fa fa-angle-double-right"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
