<div id="container">

  <form class="form">
    <div class="layout">
      <h1>
        <strong>Chỉnh Sửa Thông Tin Khách Hàng</strong>
      </h1>
      <div class="row">
        <div class="col-6">
          <label for="name">Họ Và Tên <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-user"></i></a>
            <input type="text" id="name" name="name" class="form-control" required
                   value="Ngô Duy Bảo"><span class="bar"></span></div>
        </div>
        <div class="col-6">
          <label for="email">Email <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-envelope"></i></a>
            <input type="email" class="form-control" id="email" value="ngobao@gmail.com">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>Giới Tính <span style="color: red">(*)</span>:</label>
          <div class="mt-2">
            <label class="gender">
              <input type="radio" name="gender" value="gender" checked>
            </label> Nam <i class="fa-solid fa-mars"></i>
            <label class="gender">
              <input type="radio" name="gender" value="gender">
            </label> Nữ <i class="fa-solid fa-venus"></i>
            <label class="gender">
              <input type="radio" name="gender" value="gender">
            </label> Khác <i class="fa-solid fa-venus-mars"></i>
          </div>
        </div>

        <div class="col-6">
          <label for="birthday">Ngày Sinh <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-cake-candles"></i></a>
            <input type="date" class="form-control" id="birthday" value="1995-03-02">
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-6">

          <label for="phone">Số Điện Thoại <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-phone"></i></a>
            <input type="tel" class="form-control" id="phone" value="0909123123">
          </div>
        </div>

        <div class="col-6">

          <label for="code">CMND/Passport <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-id-card"></i></a>
            <input type="text" id="code" class="form-control" value="23658412894">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="address">Số Nhà, Tên Đường <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-location-dot"></i></a>
            <input type="text" class="form-control" id="address" value="64 Hà Huy Tập">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="province">Thành Phố/Tỉnh <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select id="province" class="form-select">
              <option selected>Đà Nẵng</option>
              <option>Quảng Trị</option>
              <option>Quảng Bình</option>
              <option>Quảng Nam</option>
              <option>Thừa Thiên - Huế</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label for="district">Quận/Huyện <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select id="district" class="form-select" >
              <option selected>Hải Châu</option>
              <option>Hoà Vang</option>
              <option >Thanh Khê</option>
              <option>Sơn Trà</option>
              <option>Ngũ Hành Sơn</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label for="ward">Phường/Xã <span style="color: red">(*)</span>:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-building"></i></a>
            <select id="ward" class="form-select">
              <option selected>Thanh Bình</option>
              <option>Thuận Phước</option>
              <option>Thạch Thang</option>
              <option>Hải Châu I</option>
              <option>Hải Châu II</option>
              <option>Bình Hiên</option>
              <option>Hoà Thuận Đông</option>
              <option>Hoà Thuận Tây</option>
              <option>Hoà Cường Bắc</option>
              <option>Hoà Cường Nam</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <label class="title">Xe Đã Đăng Ký</label>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group d-flex justify-content-end">
            <a class="btn button-add-car" id="openModal"><i title="Thêm Xe" class="fa-solid fa-circle-plus mt-2"></i></a>
          </div>

        </div>
      </div>
      <!--        table-->
      <!--        <div class="container">-->
      <div class="table-responsive">
        <div class="table-wrapper">
          <table class="table table-striped table-hover text-center " style="border: black 1px">
            <thead>
            <tr>
              <th class="col-1">Mã Xe</th>
              <th class="col-2">Tên Xe</th>
              <th class="col-1">Loại Vé</th>
              <th class="col-2">Biển Số Xe</th>
              <th class="col-2">Ngày Đăng Ký</th>
              <th class="col-2">Ngày Hết Hạn</th>
              <th class="col-2">Chức Năng</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <!--            </div>-->
      </div>
      <!--        end table-->
      <div class="row">
        <div class="col-6 text-end">
          <button class="btn button-cancel">Huỷ</button>
        </div>
        <div class="col-6">
          <button class="btn button-confirm" type="submit">Lưu</button>
        </div>
      </div>
    </div>
  </form>
</div>
