
/* You can add global styles to this file, and also import other style files */
mat-dialog-container{
  background: rgb(162, 233, 252) !important;
  background: linear-gradient(117deg, rgba(162, 233, 252) 0%, rgba(238, 240, 213) 50%, rgba(241, 247, 166) 99%) !important;
  border-radius: 1.25rem !important;
}



/*mat-dialog-container {*/
/*  padding: 0px  !important;;*/
/*  background-color: greenyellow !important;*/
/*}*/

