

mat-dialog-container {
  padding: 0px  !important;;
  background-color: greenyellow !important;

}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

/*Modal*/
/* Định dạng phần form đăng ký */
.fomrgroup {
  width: 50%;
  margin: auto;
  display: block;
  height: 50px;
}
.fomrgroup input{
  float: right;
  width: 50%;
  height: 25px;
  margin-right: 20px;
  line-height: 50px;
}
.fomrgroup b{
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Crimson Pro',sans-serif;*/
}
/*body{*/
/*  display: flex;*/
/*  height: 100vh;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  padding: 10px;*/
/*  background: linear-gradient(135deg, #71b7e6,#9b59b6);*/
/*}*/
.container{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 220px;
  background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.user-details .input-box .details{
  margin-left: 25px;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  margin-left: 25px;
  height: 45px;
  width: 50% ;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .gender-details .gender-title{
  font-size: 20px ;
  font-weight: 500;
}
form .gender-details .category{
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: flex-start;
}
.gender-details .category label {
  display: flex;
  align-items: center;
}
.gender-details .category .dot{
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50% ;
  margin-right: 10px;
  border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  border-color: #d9d9d9;
  background: #9b59b6;
}
/*form input[type = "radio"] {*/
/*  display: none;*/
/*}*/
/*form .button input{*/
/*  height: 100%;*/
/*  width: 25%;*/
/*  outline: none;*/
/*  color: #fff;*/
/*  background: linear-gradient(135deg, #71b7e6,#9b59b6);*/
/*  border: none;*/
/*  letter-spacing: 1px;*/
/*  font-size: 18px;*/
/*  border-radius: 5px;*/
/*  font-weight: 500;*/
/*  margin-top: 5px;*/
/*}*/
form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6,#9b59b6);
}

@media (max-width: 36.5em) {
  .container{
    max-width: 43.75em;
  }
  form .user-details .input-box {
    margin-bottom: 0.9375em;
    width: 100%;
  }
  form .gender-details .category {
    display: flex;
    width: 100%;
  }
  .container form .user-details {
    max-height: 18.75em;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 0em;
  }
}
/*datalist*/
option{
  background: linear-gradient(-135deg, #71b7e6,#9b59b6);
}

/*icon*/
.material-icons{
  color: red;
}
.container .button-add-car{
  width: 50%;
  outline: none;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  /*margin-top: 5px;*/
}
.container .button-add-car:hover {
  background: linear-gradient(-135deg, #71b7e6,#9b59b6);
}

h1 {
  text-align: center;
  font-weight: bolder;
  border-bottom: black 1px solid;
}

p {
  margin-left: 25px;
}



.mat-dialog-container{
  background-color: #0a58ca !important;
}
.container{
  /*background-image: url("https://tcgland.vn/storage/upload/%E1%BA%A2nh%20d%E1%BB%B1%20%C3%A1n-02.jpg");*/
  background-size: cover;
  /*background: linear-gradient(117deg, rgba(162, 233, 252) 0%, rgba(238, 240, 213) 50%, rgba(241, 247, 166) 99%) !important;*/
}


