/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://tcgland.vn/storage/upload/%E1%BA%A2nh%20d%E1%BB%B1%20%C3%A1n-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
