
  <form (ngSubmit)="signIn()" [formGroup]="userForm" style="background-color: #0c63e4">
    <!--modal-->
    <!--<div id="myModal" class="modal">-->
    <!--  &lt;!&ndash; Nội dung form đăng nhập &ndash;&gt;-->
    <!--  <div class="modal-content" style="width: 60%; margin-bottom: 100px; margin-left: 250px">-->

    <!--    <div action="#" class="action">-->
    <!--      <span class="close">&times;</span>-->
    <!--      <h1>Đăng nhập</h1>-->
    <!--      <div class="user-details">-->
    <!--        <div class="input-box">-->
    <!--          <span class="details">Email: <span style="color: red">(*)</span> </span>-->
    <!--          <input type="text" class="form-control" placeholder="Nhập email">-->
    <!--          <p style="color: red">Tên đăng nhập không chứa ký tự đặc biệt</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="user-details">-->
    <!--        <div class="input-box">-->
    <!--          <span class="details">Mật khẩu: <span style="color: red">(*)</span> </span>-->
    <!--          <input type="text" class="form-control" size="200px" placeholder="Nhập mật khẩu">-->
    <!--          <p style="color: red">Tên đăng nhập không chứa ký tự đặc biệt</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <br>-->
    <!--      <div class="col-12">-->
    <!--        <div class="row">-->
    <!--          <div class="user-details col-6">-->
    <!--            <div class="checkbox-bootstrap">-->
    <!--              <input style="margin-left: 25px" type="checkbox">-->
    <!--              <span class="details checkbox-placeholder">Ghi nhớ mật khẩu</span>-->
    <!--              <input type="submit" class="btn btn-warning" value="Quên mật khẩu">-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <br>-->
    <!--      <div style="margin-bottom: 15px" class="button text-center">-->
    <!--        <input type="reset" class="btn btn-danger" value="Hủy">-->
    <!--        <input type="submit" class="btn btn-dark" value="Đăng nhập">-->
    <!--      </div>-->
    <!--      </form>-->
    <!--    </div>-->
    <!--  </div>-->

    <div class="container ">
      <div class="row">
        <div class="col-12 m-auto background">
          <div class="d-flex justify-content-center">

            <h1 class="mb-3">Đăng nhập</h1>
            <!--                <button style="background: transparent; border: none; padding: 0px"><i class="material-icons" style="font-size:36px;color:red">cancel</i></button>-->
          </div>
          <!--      <div class="mb-3">-->
          <!--        <label class="required">Email<span class="text-danger">(*)</span>:</label>-->
          <!--        <div class="input-group">-->
          <!--          <input type="text" formControlName="email" class="form-control" placeholder="Email"><br>-->
          <!--        </div>-->
          <!--        <p style="color: red"-->
          <!--           *ngIf="emailNotExist &&!userForm.get('email').errors?.email &&userForm.get('email').value.length>0">Email-->
          <!--          không tồn tại.</p>-->
          <!--        <p style="color: red" *ngIf="userForm.get('email').errors?.email||checkEmail">Trường này phải có định dạng Email.</p>-->
          <!--      </div>-->

          <div class="mb-3">
            <!--        <div class="col-7">-->
            <label for="email">Email: <span style="color:red">(*)</span> </label>
            <div class="input-group">
              <a class="input-group-text"></a>
              <input type="text" formControlName="email" class="form-control" id="email" placeholder="VD: codegym@gmail.com">
            </div>
            <p style="color: red"
               *ngIf="emailNotExist &&!userForm.get('email').errors?.email &&userForm.get('email').value.length>0">Email
              không tồn tại.</p>
            <p *ngIf="userForm.get('email').errors?.required && userForm.get('email').touched
            || checkForm &&userForm.get('email').errors?.required" style="color: red" >Trường này không được để trống.</p>
            <p *ngIf="userForm.get('email').errors?.email && userForm.get('email').touched" style="color: red">
              Vui lòng nhập đúng format email và không chứa ký tự đặc biệt!</p>
            <p *ngIf="errorEmail" style="color: red" >Email này đã được sử dụng.</p>
          </div>


          <div class="mb-3">
            <label class="required">Mật khẩu <span class="text-danger">(*)</span>:</label>
            <div class="input-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <p *ngIf="checkPassword" style="color: red">
                Mật khẩu chưa đúng
            </p>
            <p *ngIf="userForm.get('password').errors?.required && userForm.get('password').touched
            || checkForm&&userForm.get('password').errors?.required" style="color: red">Trường này không được để trống</p>
            <p *ngIf="userForm.get('password').errors?.errorPs && userForm.get('password').touched" style="color: red">
              Mật khẩu phải từ 8-20 ký tự, có bao gồm số, chữ viết thường và viết hoa</p>
          </div>
          <hr class="mb-4">
          <div class="d-flex justify-content-between">
            <div class="form-group form-check">
              <label class="form-check-label">
                <div class="input-group">
                  <input class="form-check-input ml-0 mt-1" #rememberE value="remember" name="remember" type="checkbox">
                  <span class="ml-4 mb-2"> Ghi nhớ đăng nhập </span>
                </div>
              </label>
            </div>
            <div>
              <button class="dialog" style="color: blue; background: transparent;padding: 0px; border: none"
                      (click)="openDialogForgetPass()">Quên mật khẩu</button>
            </div>
          </div>
          <hr class="mb-4">
          <div class="col-12  px-2 ">
            <div class="d-flex justify-content-center px-5">
              <button (click)="openDialogSignUp()" routerLink="/sign-up" class="dialog btn btn-dark" style="color: blue; background: transparent;padding: 0px; border: none">Đăng ký tài khoản</button>
              <button class="dialog btn btn-danger p-2 m-2" (click)="closeDialog()">Huỷ</button>
              <button  class="btn btn-primary p-2 m-2" (click)="remember(rememberE)">Đăng nhập</button>
            </div>
          </div>
          <hr class="mb-4">
        </div>
      </div>
    </div>
  </form>



