<!--Carousel-->
<div id="home" class="row">
  <div class="col-12">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
<!--          <img src="..." class="d-block w-100" alt="...">-->
          <img class="image-carousel" src="../../../assets/image/back-ground-card3.jpg"/>
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: white">First slide label</h3>
            <p>Some representative placeholder content for the first slide.</p>
            <div class="items-detail fadeInLeftBig wow"><a href="https://eparking.vn/he-thong-kiem-soat-xe-thong-minh/">Chi tiết</a></div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
<!--          <img src="..." class="d-block w-100" alt="...">-->

          <img src="../../../assets/image/back-ground-card1.jpg"/>
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: white">Second slide label</h3>
            <p>Some representative placeholder content for the second slide.</p>
            <div class="items-detail fadeInLeftBig wow"><a href="https://eparking.vn/gioi-thieu-eparking/">Chi tiết</a></div>
          </div>
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
<!--          <img src="..." class="d-block w-100" alt="...">-->

          <img src="../../../assets/image/back-ground-card2.jpg"/>
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: white">Third slide label</h3>
            <p>Some representative placeholder content for the third slide.</p>
            <div class="items-detail fadeInLeftBig wow"><a href="https://eparking.vn/phan-mem-quan-ly-ra-vao-eaccess/">Chi tiết</a></div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
<!--Carousel-end-->


<!--Owl-Carousel-->

<div>
  <div class="owl-carousel owl-theme owl-carousel-inner">
    <div class="item">
      <div class="owl-carousel-item active">
        <div class="article" style="background-image: url(../../../assets/image/back-ground-card3.jpg)"></div>
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color: white">Hệ thống bãi giữ xe thông minh</h3>
          <p>Dịch vụ chăm sóc, xử lý sự cố chuyên nghiệp</p>
          <div class="items-detail fadeInLeftBig wow"><a href="https://eparking.vn/he-thong-kiem-soat-xe-thong-minh/">Chi
            tiết</a></div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="owl-carousel-item" data-bs-interval="2000">

        <!--            <img src="../../../assets/image/back-ground-card1.jpg"/>-->
        <div class="article" style="background-image: url(../../../assets/image/back-ground-card1.jpg)"></div>
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color: white">Nhiều đặc quyền, hỗ trợ lập tức</h3>
          <p>Cung cấp dịch vụ chuyên nghiệp</p>
          <div class="items-detail fadeInLeftBig wow"><a href="https://eparking.vn/gioi-thieu-eparking/">Chi tiết</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="owl-carousel-item" data-bs-interval="2000">
        <!--            <img src="../../../assets/image/back-ground-card2.jpg"/>-->

        <div class="article" style="background-image: url(../../../assets/image/back-ground-card2.jpg)"></div>
        <div class="carousel-caption d-none d-md-block">
          <h3 style="color: white">Hệ thống quản lý thông minh</h3>
          <p>Sử dụng phần mềm quản lý thông minh thân thiện với người dùng</p>
          <div class="items-detail fadeInLeftBig wow"><a href="https://eparking.vn/phan-mem-quan-ly-ra-vao-eaccess/">Chi
            tiết</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Owl-Carousel-end-->


<!--devide-->
<div id="info" class="row">
  <div class="section-divide">
    <div class="col d-flex justify-content-center">
      <img width="160" height="103" src="https://eparking.vn/wp-content/uploads/2021/06/icon_chart.png"
           class="attachment-large size-large" alt="" loading="lazy">
      <h2>Dự án mẫu</h2>
    </div>
  </div>
</div>
<!--devide-->


<!--    Card-->
<div id="features" class="projcard-container">

  <div class="projcard projcard-blue fadeInUpBig wow" data-wow-duration="1s">
    <div class="projcard-innerbox ">
      <a href="https://eparking.vn/du-an/truong-dai-hoc-quoc-te-hong-bang/">
        <img class="projcard-img" src="https://eparking.vn/wp-content/uploads/2021/06/Dai-Hoc-Hong-Bang.jpg"/>

      </a>
      <div class="projcard-textbox">
        <div class="projcard-title">Trường Đại Học Quốc tế Hồng Bàng</div>
        <div class="projcard-subtitle">Tư vấn những giải pháp lưu thông cho bãi xe có diện tích vừa phải</div>
        <div class="projcard-bar"></div>
        <div class="projcard-description">Trường học là một trong những nơi có số lượng xe lớn và lưu lượng xe ra vào
          gần như liên tục. An Phú Việt chuyên cung cấp Hệ thống giữ xe cũng như tư vấn giải pháp lưu thông xe cho các
          Bãi xe Trường học.
        </div>
        <div class="projcard-tagbox">
          <a href="https://eparking.vn/du-an/truong-dai-hoc-quoc-te-hong-bang/">
            <span class="projcard-tag">Chi tiết dự án</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="projcard projcard-red fadeInUpBig wow" data-wow-duration="1.5s">
    <div class="projcard-innerbox">
      <a href="https://eparking.vn/du-an/chuoi-sieu-thi-mega-mart/">
        <img class="projcard-img" src="https://eparking.vn/wp-content/uploads/2021/05/saigon-pearl-nam-2020-1.jpg"/>
      </a>
      <div class="projcard-textbox">
        <div class="projcard-title">Chuỗi siêu thị Mega Mart</div>
        <div class="projcard-subtitle">Nâng cao chất lượng và dịch vụ sử dụng trong các dự án hiện đại</div>
        <div class="projcard-bar"></div>
        <div class="projcard-description">An Phú Việt hân hạnh là nhà cung cấp Hệ thống giữ xe thông minh cho các dự án
          tòa nhà Chung cư khắp cả nước, góp phần nâng cao chất lượng dịch vụ và cuộc sống cho cư dân
        </div>
        <div class="projcard-tagbox">
          <a href="https://eparking.vn/du-an/truong-dai-hoc-quoc-te-hong-bang/">
            <span class="projcard-tag">Chi tiết dự án</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="projcard projcard-green fadeInUpBig wow" data-wow-duration="2s">
    <div class="projcard-innerbox">
      <a href="https://eparking.vn/du-an/benh-vien-quoc-te-becamex/">
        <img class="projcard-img"
             src="https://eparking.vn/wp-content/uploads/2021/06/2017-01-Benhvien-Quocte-Becamex-500x261.jpg"/>
      </a>
      <div class="projcard-textbox">
        <div class="projcard-title">Bệnh viện Quốc Tế Becamex</div>
        <div class="projcard-subtitle">Áp dụng công nghệ thông minh</div>
        <div class="projcard-bar"></div>
        <div class="projcard-description">Suốt những năm qua, An Phú Việt luôn là đơn vị cung cấp và lắp đặt Hệ thống
          giữ xe thông minh uy tín, đáng tin cậy cho các bãi xe Bệnh viện trên toàn quốc.
        </div>
        <div class="projcard-tagbox">
          <a href="https://eparking.vn/du-an/truong-dai-hoc-quoc-te-hong-bang/">
            <span class="projcard-tag">Chi tiết dự án</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="projcard projcard-customcolor fadeInUpBig wow" data-wow-duration="2.5s"
       style="--projcard-color: #F5AF41;">
    <div class="projcard-innerbox">
      <a href="https://eparking.vn/du-an/chung-cu-cao-cap-flora-anh-dao/">
        <img class="projcard-img"
             src="https://eparking.vn/wp-content/uploads/2021/06/2017-07-Chungcu-Flora-AnhDao-1-500x261.jpg"/>

      </a>
      <div class="projcard-textbox">
        <div class="projcard-title">Chung cư cao cấp Flora Anh Đào</div>
        <div class="projcard-subtitle">Phục vụ, phân tích chuyên sâu đưa đến sản phẩm tốt cho nhà đầu tư</div>
        <div class="projcard-bar"></div>
        <div class="projcard-description">An Phú Việt hân hạnh là nhà cung cấp Hệ thống giữ xe thông minh cho các dự án
          tòa nhà Chung cư khắp cả nước, góp phần nâng cao chất lượng dịch vụ và cuộc sống cho cư dân
        </div>
        <div class="projcard-tagbox">
          <a href="https://eparking.vn/du-an/truong-dai-hoc-quoc-te-hong-bang/">
            <span class="projcard-tag">Chi tiết dự án</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<!--devide-->
<div id="new" class="row">
  <div class="section-divide">
    <div class="col d-flex justify-content-center">
      <img width="160" height="103" src="https://eparking.vn/wp-content/uploads/2021/06/icon_chart.png"
           class="attachment-large size-large" alt="" loading="lazy">
      <h2>Tin tức</h2>
    </div>
  </div>
</div>
<!--devide-->

<!--    Card-->
<div class="row">
  <section class="hero-section" style="background-image: url(../../../assets/image/highway.jpg)">
    <div class="card-grid">
      <a class="card fadeInRightBig wow " data-wow-duration="3s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[0]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[0].newsType?.name}}</p>
          <h3 class="card__heading">{{list8News[0].title}}</h3>
        </div>
      </a>
      <a class="card fadeInRightBig wow " data-wow-duration="3.5s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[1]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[1]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[1]?.title}}</h3>
        </div>
      </a>
      <a class="card fadeInRightBig wow " data-wow-duration="4s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[2]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[2]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[2]?.title}}</h3>
        </div>
      </a>

      <a class="card fadeInRightBig wow " data-wow-duration="4.5s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[3]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[3]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[3]?.title}}</h3>
        </div>
      </a>
    </div>
  </section>
  <section class="hero-section" style="background-image: url(../../../assets/image/highway.jpg)">
    <div class="card-grid">
      <a class="card fadeInLeftBig wow " data-wow-duration="4.5s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[4]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[4]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[4]?.title}}</h3>
        </div>
      </a>
      <a class="card fadeInLeftBig wow " data-wow-duration="4s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[5].img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[5]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[5]?.title}}</h3>
        </div>
      </a>
      <a class="card fadeInLeftBig wow " data-wow-duration="3.5s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[6]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[6]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[6]?.title}}</h3>
        </div>
      </a>

      <a class="card fadeInLeftBig wow " data-wow-duration="3s" href="#">
        <div class="card__background" [style.background-image]="'url(' + list8News[7]?.img + ')'" ></div>
        <div class="card__content">
          <p class="card__category">{{list8News[7]?.newsType.name}}</p>
          <h3 class="card__heading">{{list8News[7]?.title}}</h3>
        </div>
      </a>
    </div>
  </section>
</div>
<!--    Card-end-->

<!--devide-->
<div  class="row">
  <div class="section-divide">
    <div class="col-6 d-flex justify-content-center">
      <img width="160" height="103" src="https://eparking.vn/wp-content/uploads/2021/06/icon_chart.png"
           class="attachment-large size-large" alt="" loading="lazy">
      <h2>C021G1-Parking</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <div class="col d-flex justify-content-center">
      <div class="col-4 d-flex justify-content-center">
        <img width="160" height="103" src="../../../assets/image/question-mark-31181_1280.png"
             class="attachment-large size-large justify-content-center" alt="" loading="lazy">
        <h4>Chúng tôi hiểu rõ nhu cầu và đáp ứng chính xác vấn đề của bạn</h4>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <img width="160" height="103" src="../../../assets/image/repair.png"
             class="attachment-large size-large" alt="" loading="lazy">
        <h2>Phần mềm mở dễ dàng cập nhật tính năng, nâng cấp theo yêu cầu</h2>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <img width="160" height="103" src="../../../assets/image/support-1984615_1280.png"
             class="attachment-large size-large" alt="" loading="lazy">
        <h2>Xử lý sự cố 24/7 đảm bảo hệ thống vận hành liên tục trong bất kì tình huống nào</h2>
      </div>



    </div>
  </div>
</div>
<!--devide-->

<a href="#top" class="up"><i class="fa fa-chevron-up"></i></a>

<!--    Card-end-->
