<div class="container-fluid">
  <!--    Nav bar-->
  <div class="row">
    <div class="d-flex justify-content-end" style="padding-left: 0;padding-right: 0">
      <div class="col-12">
        <header id="top">
          <img class="item-logo" src="../../../assets/image/logo-parking.png">
          <nav>
            <div class="nav-items">
              <a style="font-size: 15px" href="/home">Trang chủ</a>
              <a href="#new">Tin tức</a>
              <a href="#work">Dự án mẫu</a>
            </div>
            <h1 class="nav-logo"><img src="../../../assets/image/logo-parking.png" style="width: 200px"></h1>

            <div class="nav-items">
              <a href="#info">Chức năng</a>
              <a style="cursor:grab " (click)="openDialogSignIn()"> Đăng nhập </a>
              <span *ngIf="email.includes('@')">
              <i class="fa fa-user-circle"></i>&nbsp;
              <a class="link" style="color: white"> {{email}} </a>
              <span style="color: white">|</span>
              <span class=""><a class="link" (click)="logOut()"> Đăng xuất </a></span>
            </span>
            </div>
          </nav>
        </header>
      </div>
    </div>
  </div>
  <!--    Nav bar end-->
  <script src="assets/mainjs/navbar.js"></script>
</div>
