<div class="container-fluid">
  <h2 class="text-center">Danh Sách Vị Trí Bãi Đậu Xe Ô Tô</h2>
  <br>
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-2"></div>
      <div class="col-1">
        <a class="btn btn-secondary text-white" role="button" routerLink="/location-create"><span
          class="fa fa-plus"></span></a>
      </div>
      <div class="col-3">
        <input #a (keyup.enter)="search()" (change)="id = $event.target.value" type="search" placeholder="Chọn Tầng"
               class="form-control input-group" list="datalistOptions" id="exampleDataList" (keyup)="index=0">
        <datalist id="datalistOptions" class="w-50">
          <option class="w-50" *ngFor="let s of floorList" [ngValue]="s.id">{{s.name}}</option>
        </datalist>
      </div>
      <div class="col-2  float-start d-flex input-group" style="width: 29%">
        <input #b (keyup.enter)="search()" (change)="code = $event.target.value" type="search"
               placeholder="Nhập vị trí" class="form-control w-25" (keyup)="index=0">
        <span (click)="search()" role="button" class="fa fa-search btn btn-success input-group-text"
              style="padding-top: 10px;height: 100%"> </span>
      </div>

      <div class="col-2">

        <button class="btn btn-secondary"
                (click)="a.value='';b.value='';this.id='';this.code='';isStatus=false;this.search()">
          <span class="fa-solid fa-arrow-rotate-right"></span>
        </button>
      </div>
    </div>
  </div>

  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <table class="table-responsive table-striped text-center table-border table">
          <thead class="text-white tb-header">
          <tr>
            <th scope="col" style=" width: 5%;text-align: center">STT</th>
            <th scope="col" style=" width: 20%;text-align: center">Vị trí</th>
            <th scope="col" style=" width: 20%;text-align: center">Tầng</th>
            <th scope="col" colspan="3" style=" width: 30%;text-align: center">Thao Tác</th>
          </tr>
          </thead>
          <tbody class="table-side-bar" [hidden]="isStatus==true">
          <tr *ngFor="let lf of LocationList,index as i">
            <td>{{i + 1}}</td>
            <td>{{lf.code}}</td>
            <td>{{lf.floorName}}</td>
            <td class="text-end">
              <a role="button" (click)="openDialog(lf.id)"><span class="fa fa-trash text-danger"
                                                                 style="font-size:24px"></span></a>
            <td class="text-center">
              <a role="button"><span class="fas fa-pencil" style="font-size:24px"></span></a>
            </td>
            <td class="text-start">
              <a role="button" [routerLink]="['/location-detail/',lf.id]"><span class="fas fa-eye"
                                                                                style="font-size:24px"></span></a>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="isStatus== true">
      <td>Hiện tại không có dữ liệu !</td>
    </div>
    <div class="container-fluid" [hidden]="isStatus==true">
      <div class="row">


        <div class="col-10">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">

              </div>
              <div class="mx-3 col-3">
                Hiển thị trang <span class="font-monospace">{{index + 1}}</span> trong tổng số <span
                class="font-monospace">{{totalPagination}}</span> trang
              </div>
              <div class="col-6 pagination">
                <button [disabled]="index < 1" (click)="previousPage()"><span class="fa fa-angle-double-left"></span>
                </button>
                <button [disabled]="index < 1" (click)="back()"><span class="fa fa-angle-left"></span></button>
                <button [hidden]="index < 2" (click)="loadList(index-1)">
                  {{index - 1}}
                </button>
                <button [hidden]="index == 0" (click)="loadList1(index-1)">
                  {{index}}
                </button>
                <button class="active">
                  {{index + 1}}
                </button>
                <button [hidden]="index >= totalPagination - 1" (click)="loadList2(index+1)">{{index + 2}}</button>
                <button [hidden]="index >= totalPagination - 2" (click)="movingNext()">{{index + 3}}</button>
                <button [disabled]="index == totalPagination - 1" (click)="next()"><span
                  class="fa fa-angle-right"></span>
                </button>
                <button [disabled]="index == totalPagination - 1" (click)="lastPage()"><span
                  class="fa fa-angle-double-right"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>

