
body {
  background-size: auto;
  margin: 0;
  padding: 0;
  /*background-color: #f5f5f5;*/
  font-weight: 100;
  justify-content: center;
  font-family: Bahnschrift, serif;
  box-sizing: border-box;
}
.container{
  background: linear-gradient(117deg, rgba(162, 233, 252) 0%, rgba(238, 240, 213) 50%, rgba(241, 247, 166) 99%);
  width: 100%;
}

.tb-header {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  font-size: 1.2em;
  text-align: center;

}

.table-side-bar {
  background: rgba(219, 216, 216, 0.86);
  /*color: #004152;*/
}


.table-side-bar tr:hover {
  background: #DDE6FE;
  box-shadow: 0 5px #666;
  transform: translateY(1px);

}
.button-confirm{
  height: 100%;
  width: 150px;
  outline: none;
  color: #fff;
  background: linear-gradient(120deg, #71b7e6,#9b59b6);
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 10px;
}
.button-confirm:hover {
  background: linear-gradient(120deg,#9b59b6, #71b7e6);
}
.button-cancel{
  height: 100%;
  width: 150px;
  outline: none;
  color: black;
  background: linear-gradient(120deg, white,grey);
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 10px;
}
.button-cancel:hover {
  background: linear-gradient(120deg, darkgrey, whitesmoke);
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


.pagination a.active {
  background-color: #198754;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.modal-header {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
}
.modal-body {
  background: linear-gradient(117deg, rgba(162, 233, 252) 0%, rgba(238, 240, 213) 50%, rgba(241, 247, 166) 99%);
  width: 100%;

}

.box-left {
  padding: 1em 0;
  font-size: 15px;
}


.col-right-1 {
  padding: 1em 0;
  font-size: 15px;
}

.col-right-2 {
  padding: 1em 0;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .form-box {
    display: flex;
    justify-content: space-between;
  }
  .box-right{
    width: 90.5%;
    display: flex;
    justify-content: space-between;
  }
  .col-right-1{
    width: 20.5% ;
  }

}
@media screen and (min-width: 800px) {
  .box-right{
    width: 85.7%;
  }
  body {
    font-size: 15px;

  }

}
@media screen and (min-width: 900px) {
  .box-right{
    width: 85%;
  }
  body {
    font-size: 15px;

  }

}

@media screen and (min-width: 1000px) {
  .box-right{
    width: 75%;
  }
  body {
    font-size: 15px;

  }

}
@media screen and (min-width: 1200px) {
  .box-right{
    width: 65%;
  }
  body {
    font-size: 15px;

  }

}
/*------------------*/
.pagination {
  display: inline-block;
  float: right;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;

}


.pagination button.active {
  background-color: #198754;
  color: white;
  border-radius: 5px;
  border: none;
}

.pagination button:hover:not(.active) {

  background-color: #ddd;
  border-radius: 5px;
  color: blue;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
