<div class="container">
  <!--    container-fluid-title-->
  <div class="row he-tex mt-3 ">
    <div class="col-md-12 text-center">
      <h3>Danh Sách Vé</h3>
    </div>



  </div>

  <form action="" class="mb-3 mt-2 row">
    <div class="form-box">
      <!--            <div class="d-flex justify-content-between">-->

      <div class="box-left">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus-circle mt-1"></span>
        </button>
      </div>
      <div class="box-right">
        <div class="col-right-2 col-right-select ">
          <div class="form-group ">
            <select class="form-control">
              <option selected disabled>-Tầng-</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-right-2 col-right-select">
          <div class="form-group ">
            <select class="form-control">
              <option disabled selected>-Loại Vé-</option>
              <option>Tháng</option>
              <option>Quý</option>
              <option>Năm</option>
            </select>
          </div>
        </div>
        <div class="col-right-1">

          <div class="form-group">

            <input class="form-control" type="text" placeholder="ngày kết thúc" onfocus="(this.type = 'date')"
                   onblur="(this.type = 'text')">

          </div>
        </div>
        <div class="col-right-1">
          <div class="form-group">
            <input type="text"
                   class="form-control" placeholder="Họ và tên">
          </div>
        </div>
        <div class="col-right-1">
          <div class="form-group">
            <input type="text"
                   class="form-control" placeholder="Số Điện Thoại">

          </div>
        </div>
        <div class="col-right-2">
          <a class="btn btn-success col-right-button" >
            <span class="fa fa-search"></span>
          </a>
        </div>
      </div>

    </div>

    <!--        </div>-->
  </form>
  <!--    <div class="d-flex justify-content-between mb-3">-->
  <!--        <div class="">-->
  <!--            <button type="button" class="btn btn-primary">-->

  <!--                <span class="fa fa-plus-circle mt-1"> Thêm Vé</span>-->
  <!--            </button>-->
  <!--        </div>-->
  <!--        &lt;!&ndash;        <div class="col-md-10">&ndash;&gt;-->
  <!--        <div class="d-flex justify-content-end">-->
  <!--            &lt;!&ndash;            <div class="">&ndash;&gt;-->
  <!--            <div class="form-group">-->
  <!--                <input type="text"-->
  <!--                       class="form-control" placeholder="Họ và tên">-->
  <!--            </div>-->
  <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--            &lt;!&ndash;            <div class="">&ndash;&gt;-->
  <!--            <div class="form-group me-1 ms-1 col-md-2">-->
  <!--                <input type="text"-->
  <!--                       class="form-control" placeholder="Số Điện Thoại">-->

  <!--            </div>-->
  <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--            &lt;!&ndash;            <div class="">&ndash;&gt;-->
  <!--            <div class="form-group ">-->
  <!--                <select class="form-control">-->
  <!--                    <option selected disabled>-Tầng-</option>-->
  <!--                    <option>1</option>-->
  <!--                    <option>2</option>-->
  <!--                    <option>3</option>-->
  <!--                    <option>4</option>-->
  <!--                </select>-->
  <!--            </div>-->
  <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--            &lt;!&ndash;            <div class="">&ndash;&gt;-->
  <!--            <div class="form-group me-1 ms-1 ">-->
  <!--                <select class="form-control">-->
  <!--                    <option disabled selected>-Loại Vé-</option>-->
  <!--                    <option>Tháng</option>-->
  <!--                    <option>Quý</option>-->
  <!--                    <option>Năm</option>-->
  <!--                </select>-->
  <!--            </div>-->
  <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--            &lt;!&ndash;            <div class="">&ndash;&gt;-->
  <!--            <div class="form-group ">-->
  <!--                <input type="date" class="form-control" placeholder="">-->

  <!--            </div>-->
  <!--            <div class="">-->
  <!--                <button class="btn btn-success ms-1">-->
  <!--                    <span class="fa fa-search"></span>-->
  <!--                </button>-->
  <!--            </div>-->

  <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--        </div>-->
  <!--        &lt;!&ndash;        </div>&ndash;&gt;-->
  <!--    </div>-->
  <!--    <div class="col-md-2 ">-->

  <!--    </div>-->


  <!--            <a href="#"><i class="fa fa-search"></i></a>-->
  <!--            <i class="fa-solid fa-octagon-plus"></i>-->


  <!--    <table class="table  table-responsive table-borderless">-->
  <!--        <tr class="d-flex justify-content-end">-->
  <!--            <td>-->
  <!--                <button type="button" class="btn btn-primary  w-auto">-->
  <!--                    <span class="fa fa-plus-circle mt-1"> Thêm Vé</span>-->
  <!--                </button>-->
  <!--            </td>-->

  <!--            <td>-->
  <!--                <div class="form-group  w-auto">-->
  <!--                    <input type="text"-->
  <!--                           class="form-control" placeholder="Họ và tên">-->
  <!--                </div>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--                &lt;!&ndash;                me-1 ms-1 col-md-2&ndash;&gt;-->
  <!--                <div class="form-group  w-auto">-->
  <!--                    <input type="text"-->
  <!--                           class="form-control" placeholder="Số Điện Thoại">-->

  <!--                </div>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--                <div class="form-group  w-auto">-->
  <!--                    <select class="form-control">-->
  <!--                        <option selected disabled>-Tầng-</option>-->
  <!--                        <option>1</option>-->
  <!--                        <option>2</option>-->
  <!--                        <option>3</option>-->
  <!--                        <option>4</option>-->
  <!--                    </select>-->
  <!--                </div>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--                &lt;!&ndash;                me-1 ms-1 col-md-1&ndash;&gt;-->
  <!--                <div class="form-group  w-auto">-->
  <!--                    <select class="form-control">-->
  <!--                        <option disabled selected>-Loại Vé-</option>-->
  <!--                        <option>Tháng</option>-->
  <!--                        <option>Quý</option>-->
  <!--                        <option>Năm</option>-->
  <!--                    </select>-->
  <!--                </div>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--                <div class="form-group  w-auto">-->
  <!--                    <input type="date" class="form-control" placeholder="">-->
  <!--                </div>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--                <button class="btn btn-success  w-auto">-->
  <!--                    <span class="fa fa-search"></span>-->
  <!--                </button>-->
  <!--            </td>-->
  <!--        </tr>-->
  <!--    </table>-->

  <table class="table  table-responsive table-striped text-center table-border">
    <thead class="text-white tb-header">
    <tr>
      <th>Mã Vé</th>
      <th>Biển số Xe</th>
      <th>Tên Khách Hàng</th>
      <!--            <th>Mã Khách Hàng</th>-->
      <th>Số Điện Thoại</th>
      <th>Trạng Thái</th>
      <th colspan="2">Thao Tác</th>

    </tr>
    </thead>
    <tbody class=" table-side-bar">
    <tr>
      <td>VS-001</td>
      <td>99-H7 7777</td>
      <td>KIM JONG UN</td>
      <!--            <td>CS-001</td>-->
      <td>0511394695</td>
      <td class="text-center"><span class="fa fa-remove"> Đã Hết Hạn</span></td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"><span
          class="fa fa-trash text-danger" style="font-size:24px"></span></a>


      </td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
          class="fa fa-pencil" style="font-size:24px"></span></a>
      </td>

    </tr>
    <tr>
      <td>VS-002</td>
      <td>99-H7 6485</td>
      <td>KIM JONG UN</td>
      <!--            <td>CS-001</td>-->
      <td>0511394695</td>
      <td class="text-center"><span class="fa fa-check"> Còn Hạn</span></td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"><span
          class="fa fa-trash text-danger" style="font-size:24px"></span></a>


      </td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
          class="fa fa-pencil" style="font-size:24px"></span></a>
      </td>
    </tr>
    <tr>
      <td>VS-003</td>
      <td>99-H7 9999</td>
      <td>Nguyen thanh tam</td>
      <!--            <td>CS-001</td>-->
      <td>079628962</td>
      <td class="text-center"><span class="fa fa-check"> Còn Hạn</span></td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"><span
          class="fa fa-trash text-danger" style="font-size:24px"></span></a>


      </td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
          class="fa fa-pencil" style="font-size:24px"></span></a>
      </td>
    </tr>
    <tr>
      <td>VS-004</td>
      <td>98-H4 9777</td>
      <td>Kang Min Suc</td>
      <!--            <td>CS-001</td>-->
      <td>079628962</td>
      <td class="text-center"><span class="fa fa-check"> Còn Hạn</span></td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"><span
          class="fa fa-trash text-danger" style="font-size:24px"></span></a>


      </td>
      <td>
        <a  role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
          class="fa fa-pencil" style="font-size:24px"></span></a>
      </td>
    </tr>

    <tr>
      <td colspan="7" class="text-right">
        Hiển thị 8 trong số 40 kết quả
      </td>
    </tr>
    </tbody>

  </table>

  <div class="row text-center">
    <div class="col-md-12">
      <div class="pagination">
        <a href="#"><span class="fa fa-angle-double-left"></span></a>
        <a href="#"><span class="fa fa-angle-left"></span></a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#"><span class="fa fa-angle-right"></span></a>

        <a href="#"><span class="fa fa-angle-double-right"></span></a>


      </div>
    </div>


  </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa vé xe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Xác nhận xóa vé</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Bạn có chắc xóa vé xe <span class="text-danger font-weight-normal">SV-001</span> với biển số xe
          <span class="text-danger font-weight-normal">99-H7 7777</span></h3>
        <p class="text-danger font-weight-normal">(Lưu ý thao tác này không thể hoàng tác lại)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-cancel" data-bs-dismiss="modal">HỦY</button>
        <button type="button" class="btn button-confirm" data-bs-dismiss="modal">Đồng Ý</button>
      </div>
    </div>
  </div>
</div>

