<div class="container-fluid layout">
  <h1 align="center">Thống kê</h1>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border float-none w-auto p-2">Thời gian</legend>
        <div class="d-flex justify-content-between">
          <div class="control-group col-1">
          </div>
          <div class="control-group col-5 ">
            <label style="font-weight: bold"> Quý:</label>
            <select class="form-control" style="height: 50px !important;" #quarter (change)="setStatistic(quarter,year)">
              <option value="">Chọn quý</option>
              <option value="1">Quý 1</option>
              <option value="2">Quý 2</option>
              <option value="3">Quý 3</option>
              <option value="4">Quý 4</option>
            </select>
          </div>
          <div class="control-group col-5">
            <label style="font-weight: bold"> Năm:</label>
            <select class="form-control" #year (change)="setStatistic(quarter,year)" style="height: 50px !important;">
              <option>Chọn năm</option>
<!--              <option >2020</option>-->
<!--              <option >2021</option>-->
<!--              <option >2022</option>-->
              <option  *ngFor="let i of yearArr">{{i}}</option>
            </select>

          </div>

          <div class="control-group col-1">

            <!--            <label>Biểu đồ:</label>-->
            <!--            <select class="form-control">-->
            <!--              <option value="">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Chọn&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
            <!--              <option value="hinhCot">Hình cột</option>-->
            <!--              <option value="hinhTron">Hình tròn</option>-->
            <!--              <option value="hìnhDuong">Hình đường</option>-->
            <!--              <option value=""></option>-->
            <!--            </select>-->
<!--            <label>Biểu đồ:</label>-->
<!--            <select class="form-control">-->
<!--              <option value="">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Chọn&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--              <option value="hinhCot">Hình cột</option>-->
<!--              <option value="hinhTron">Hình tròn</option>-->
<!--              <option value="hìnhDuong">Hình đường</option>-->
<!--              <option value=""></option>-->
<!--            </select>-->
          </div>
        </div>

      </fieldset>
      <!--      <fieldset class="scheduler-border">-->
      <!--        <legend class="scheduler-border float-none w-auto p-2">Biểu đồ</legend>-->
      <!--        <figure class="highcharts-figure">-->
      <!--        </figure>-->
      <!--      </fieldset>-->
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <div class="justify-content-center d-flex">
        <button [disabled]="!isYearChecked" data-bs-toggle="modal" href="#exampleModalToggle" role="button" type="button" (click)="statistic(quarter,year)"
                class="btn btn-primary m-3 button-confirm" >Thống kê
        </button>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 m-auto">
        <div *ngIf ="isDisplayContainer">
          <div id="container">
          </div>
          <div  class="m-2">
            <div class="d-flex justify-content-center">

              <button class="btn btn-danger mx-1 button-cancel" data-bs-target="#exampleModalToggle2"
                    (click)="hidden()">Thoát
              </button>
              <button class="btn btn-success mx-1 button-confirm" type="button" (click)="generatePDF()"  >In báo cáo</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--<div class="container-fluid">-->
<!--  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"-->
<!--       tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--      <div class="modal-content">-->

<!--        <div class="modal-header" >-->
<!--          <h5 align="center" class="modal-title" id="exampleModalToggleLabel">Kết quả thống kê</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body" id="contentToConvert">-->
<!--          <div id="container">-->
<!--          -->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="d-flex justify-content-center">-->

<!--            <button class="btn btn-danger mx-1" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"-->
<!--                    data-bs-dismiss="modal" >Thoát-->
<!--            </button>-->
<!--            <button class="btn btn-success mx-1" type="button" (click)="generatePDF()" data-bs-dismiss="modal" >In báo cáo</button>-->
<!--      <div style="width: 70%" class="m-auto" id="container"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container-fluid">-->
<!--  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"-->
<!--       tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--      <div class="modal-content">-->

<!--        <div class="modal-header" >-->
<!--          <h5 align="center" class="modal-title" id="exampleModalToggleLabel">Kết quả thống kê</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body" id="contentToConvert">-->
<!--          <div id="container">-->

<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="d-flex justify-content-center">-->

<!--            <button class="btn btn-danger mx-1 button-cancel" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"-->
<!--                    data-bs-dismiss="modal">Thoát-->
<!--            </button>-->
<!--            <button class="btn btn-success mx-1 button-confirm" type="button" (click)="generatePDF()" data-bs-dismiss="modal" >In báo cáo</button>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
