<div class="top-dailog">
  <h5 class="modal-title" id="exampleModalLabel2">Xác nhận xóa vé</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="body-dialog">
  <h3>Bạn có chắc xóa vé xe <span class="text-danger font-weight-normal">{{inForTicket.code}}</span> với biển số xe
    <span class="text-danger font-weight-normal">{{inForTicket.car.carPlate}}</span></h3>
  <p class="text-danger font-weight-normal">(Lưu ý thao tác này không thể hoàng tác lại)</p>
</div>
<div class="footer-dialog">
  <button type="button" class="btn button-cancel" data-bs-dismiss="modal">HỦY</button>
  <button type="button" class="btn button-confirm" data-bs-dismiss="modal">Đồng Ý</button>
</div>
