<div id="container" *ngIf="ticket">

  <form class="form" [formGroup]="ticketForm">
    <div class="layout">
      <h1>
        <strong>Chỉnh Sửa Thông Tin Vé</strong>
      </h1>
      <div class="row">
        <div class="col-6">
          <label for="name">Tên Khách Hàng :</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-user"></i></a>
            <input readonly type="text" id="name" name="name" class="form-control" required
                   [value]="ticket.car.customer.name"><span class="bar"></span></div>
        </div>
        <div class="col-6">
          <label for="code">Mã vé: </label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-id-card"></i></a>
            <input readonly type="text" id="code" class="form-control" [value]="ticket.code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="bsx">Biển Số Xe:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-car"></i></a>
            <input readonly type="text" class="form-control" id="bsx" [value]="ticket.car.carPlate">
          </div>

        </div>
        <div class="col-6">

          <label for="phone">Số điện thoại:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fa-solid fa-phone"></i></a>
            <input readonly type="text" class="form-control" id="phone" [value]="ticket.car.customer.phone">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-6">
          <label for="date">Thời gian vé có hiệu lực:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-calendar-alt"></i></a>
            <input readonly type="text" class="form-control" id="date" [value]="ticket.startDate | date: 'dd-MM-yyy'">
          </div>

        </div>
        <div class="col-6">
          <label for="date1">Thời gian vé hết hiệu lực:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-calendar-alt"></i></a>
            <input readonly type="text" class="form-control" id="date1" [value]="ticket.endDate | date: 'dd-MM-yyy'">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="floor">Tầng: </label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-building"></i></a>
            <select formControlName="floor" id="floor" class="form-control" *ngIf="floors" (change)="readListLocation()">
              <option *ngFor="let item of floors" [ngValue]="item.id"
                      [selected]="ticketForm.get('floor').value==item.id">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <label for="location">Vị Trí: </label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-parking"></i></a>
            <input list="location" type="text" class="form-control"  [value]="ticket.location.code">
            <datalist  formControlName="location" id="location"  *ngIf="locations">
              <option *ngFor="let item of locations" value="{{item.code}}"
                      [selected]="ticketForm.get('location').value==item.id">
            </datalist>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="price">Giá: </label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-money-bill-alt"></i></a>
            <input readonly type="text" formControlName="sumPrice" id="price" class="form-control">
            <div class="text-danger" *ngFor="let validation of validation_message.sumPrice">
              <p class="valid"
                 *ngIf="ticketForm.get('sumPrice').hasError(validation.type) && ticketForm.get('sumPrice').touched">
                {{validation.message}}</p>
            </div>

          </div>
        </div>

        <div class="col-6">
          <label for="ticket">Loại Vé: </label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-ticket-alt"></i></a>
            <select formControlName="ticketType" id="ticket" class="form-control" *ngIf="ticketTypes" (click)="changeDate()">
              <option   *ngFor="let item of ticketTypes" [ngValue]="item.id"
                      [selected]="item.id == ticketForm.get('ticketType').value" >
                {{item.name}}
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="extend">Ngày Gia Hạn:</label>
          <div class="input-group">
            <a class="input-group-text"><i class="fas fa-calendar-alt"></i></a>
            <input readonly type="date" class="form-control" id="extend"  formControlName="endDate" placeholder="dd-MM-yyyy">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-6 text-end">
          <button class="btn button-cancel" routerLink="/ticket/list">Huỷ</button>

        </div>
        <div class="col-6">

          <button class="btn button-confirm" type="submit" (click)="update()">Lưu</button>
        </div>
      </div>
    </div>
  </form>
</div>

