<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <div class="col-lg-6 col-md-6">
            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size">C1021G1 PARKING</h3>
              <p>Bãi đỗ xe Tự Động, bãi đỗ xe thông minh – Giải pháp kinh doanh trong thời đại
                công nghệ

                Những Bãi đỗ xe tự động, bãi đỗ xe thông minh đã có mặt ở rất nhiều nơi trên thế
                giới,
                mang đến nhiều tiện ích cho xã hội. Tại Việt Nam, sản phẩm công nghệ này cũng
                đang dần
                khẳng định vai trò của mình trong việc phục vụ các khách hàng một cách nhanh
                chóng và dễ dàng,
                giúp người quản lý yên tâm hơn và tiết kiệm được khá nhiều chi phí.</p>
              <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                <p class="mchimp-errmessage" style="display: none;"></p>
                <p class="mchimp-sucmessage" style="display: none;"></p>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size">Thông tin liên hệ</h3>
              <ul class="list-unstyled f_list">
                <li><a href="https://danang.codegym.vn/">Code gym Đà Nẵng</a></li>
                <li><a href="#">Đà Nẵng: Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận
                  Hải Châu, TP Đà Nẵng.</a></li>
                <li><a href="#">Hotline: 02366517021p</a></li>
                <li><a href="#">Email: danang@codegym.vn</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size">Liên kết</h3>
              <ul class="list-unstyled f_list">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                 style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size">Thông tin liên hệ</h3>
              <div class="f_social_icon">
                <a href="https://www.facebook.com/codegym.vn" class="fab fa-facebook  size-icon"></a>
                <a href="https://www.youtube.com/CodeGym" class="fab fa-brands fa-youtube size-icon"></a>
                <a href="#" class="fab fa-linkedin size-icon"></a>
                <a href="#" class="fab fa-pinterest size-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7">
          <p class="mb-0 f_400">© CodeGym Đà Nẵng 2022.</p>
        </div>
        <div class="col-lg-6 col-sm-5 text-right">
          <p>Made with <i class="icon_heart"></i> in <a href="http://cakecounter.com"
                                                        target="_blank">C1021G1</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

